@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap')

$azure:#0077ff

.VkIdWebSdk__button_reset
    border: none
    margin: 0
    padding: 0
    width: auto
    overflow: visible
    background: transparent
    color: inherit
    font: inherit
    line-height: normal
    font-family: Roboto, sans-serif
    -webkit-font-smoothing: inherit
    -moz-osx-font-smoothing: inherit
    -webkit-appearance: none


.VkIdWebSdk__button
    border-radius: 8px
    min-height: 44px
    display: inline-block
    background: $azure
    color: white
    font-weight: 500
    cursor: pointer
    transition: all .1s ease-out

    @media screen and (max-width: 550px)
        .VkIdWebSdk__button_text
            display: none
            transition: all 1s ease-out


    &.btn-secondary
        background: white
        color: black
        border: 1px solid #e0e0e0
        path
            fill: $azure
        > .VkIdWebSdk__button_text
            display: flex
            flex: 1
            justify-content: center
        > .VkIdWebSdk__button_icon
            display: inline-block
            vertical-align: middle


    &.btn-sm
        height: 32px
        font-size: 14pt
        line-height: 32px
        padding: 8px
        .VkIdWebSdk__button_icon
            font-size: 24pt
            color: #0077ff


    &.btn-md
        height: 40px
        font-size: 16pt
        line-height: 40px
        padding: 10px
        .VkIdWebSdk__button_icon
            font-size: 28pt
            color: #0077ff

    &.btn-big
        height: 48px
        font-size: 17pt
        line-height: 48px
        padding: 10px
        .VkIdWebSdk__button_icon
            font-size: 28pt
            color: #0077ff

    &.rounded-1
        border-radius: 8px

    &.rounded-2
        border-radius: 16px

    &.rounded-3
        border-radius: 40px

    &:hover
        opacity: 0.8

    &:active
        opacity: .7
        transform: scale(.97)

.VkIdWebSdk__button_container
    display: flex
    align-items: center
    padding: 8px 10px

.VkIdWebSdk__button_icon + .VkIdWebSdk__button_text
    margin-left: 10px

